---
import Navigation from './Navigation.astro';
import Hamburger from './Hamburger.astro';
import ThemeIcon from './ThemeIcon.astro';
import '../styles/global.css';
---
<header>
  <nav>
    <Navigation />
    <ThemeIcon />
    <Hamburger />
  </nav>
</header>

